:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-white text-slate-800 dark:bg-neutral-800 dark:text-white dark:text-opacity-85;
}

body {
  @apply flex min-h-screen min-w-[320px] items-center;
}

@layer components {
  .button {
    @apply min-w-32 rounded-lg border border-solid border-transparent bg-stone-50 px-4 py-2 text-slate-800 transition-[border-color] hover:border-indigo-500 dark:bg-zinc-900 dark:text-white;
  }

  .link {
    @apply font-medium text-indigo-500 no-underline hover:text-indigo-400 dark:hover:text-indigo-600;
  }
}
